body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url(../ImageAlbum/5788961.jpg);
}

.insertion{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 300px;
}

.jaquette{
    width: 190px;
    height: 190px;
    border: 1px solid #000;
    display: flex;
    margin-top: -725px;
    margin-left: 500px;
}

.insertion form{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}


.valider{
    color: rgb(0, 0, 0);
    border: 0;
    outline: 0;
    background-color: #24ccfd;
    border-radius: 30px;
    width: 200px;
    caret-color: transparent;
    line-height: 40px;
}

.valider:hover{
    background-color: rgb(107, 213, 255);
}

.Paroles{
    color: rgb(0, 0, 0);
    border: 0;
    outline: 0;
    background-color: #fd3f99;
    border-radius: 30px;
    width: 450px;
    caret-color: transparent;
    line-height: 40px;
}
.Paroles:hover{
    background-color: #fd6fb2;
}

.Ajout {
    color: rgb(0, 0, 0);
    border: 0;
    outline: 0;
    background-color: #fff17c;
    border-radius: 30px;
    width: 450px;
    line-height: 40px;
    text-align:left;
    padding-left: 10px;
}


    