@font-face {
    font-family: 'MaPolice'; /* Nom de la police que vous utiliserez dans votre CSS */
    src: url(../../Project/fonts/Magic.ttf) format('truetype'); /* Chemin vers le fichier de la police */
}

body{
    background: #FFAF90;
    margin : 0;
    padding: 0;
}

.single {
    margin-left: 60px;
    margin-top: 60px;
    margin-right: 60px;
}

.titreSingle{
    font-family: 'MaPolice', sans-serif;
}
.infoSingle {
    width: 144px;
    flex-shrink: 0;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}

.infoDuSingle{
    margin-top: 12px;
    font-size: 22px;
    padding-top: 24px;
    display: flex;
    float: left;
    flex-direction: column;
    font-family: 'MaPolice', sans-serif;
}

.duree{
    margin-top: 24px;
    font-size: 20px;
}

.imgAlbum {
    width: 350px;
    height: 350px;
    flex-shrink: 0;
    display: flex;
    float: left;
    margin-right: 25px;
}
.paroles {
    width: 100%;
    max-width: 1400px;
    font-size: 20px;
    height: 350px; /* Conservez la hauteur fixe */
    border-radius: 10px;
    display: flex;
    margin-right: 42px;
    background: #90E0FF;
    padding: 12px;
    overflow-y: auto; /* Ajoutez cette ligne pour activer la barre de défilement vertical */
    padding-bottom: 10px;
    white-space: pre-line;
}

.button {
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content:flex-end;
    padding-right: 80px;
    font-size: 24px;
}

.wrap{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin-top: 15px;
}

.btnModif{
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    background: #BBF6BE;
    
}

.btnModif:hover{
    cursor: pointer;
    background: #82EB88;
}

.btnSupp {
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    background: #ff615e;
}

.btnSupp:hover{
    cursor: pointer;
    background: #ff4c48 ;
}

