@font-face {
    font-family: 'MaPolice'; /* Nom de la police que vous utiliserez dans votre CSS */
    src: url(../Project/fonts/Magic.ttf) format('truetype'); /* Chemin vers le fichier de la police */
}

body, html {
    height: 50%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url(../ImageAlbum/5788961.jpg);
}
h1{
    font-size: 666px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 60px;
    font-family: 'MaPolice', sans-serif;
    color: rgb(189, 189, 189);
}
.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #fff17c;
    border-radius: 30px;
    padding: 10px;
}

.search_input {
    color: black;
    border: 0;
    outline: 0;
    background: none;
    width: 450px;
    caret-color: black;
    line-height: 40px;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: rgb(0, 0, 0);
    text-decoration: none;
}